@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-amber-50;
  }
}

/* Efek 3D untuk Gambar */
.preserve-3d { 
  transform-style: preserve-3d; 
}
.perspective-1000 { 
  perspective: 1000px; 
}
.hover\:rotate-y-12 { 
  transform: rotateY(12deg); 
}
/* Animasi untuk elemen floating */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.animate-float {
  animation: float 4s ease-in-out infinite;
}